@import '../../../variables';

.cursor-pointer {
  cursor: pointer;
}

.cursor-pointer:hover {
  text-decoration: underline;
}

img {
  max-height: 278px;
  width: 100%;
  border-radius: $imageBorderRadius;
}
