$primary: #00C471;
$secondary: #292C2F;
$secondary-bg-subtle: #45494D;
$seachInputBgColor: #45494D;

$searchIconWidth: 16px;
$searchIconHeight: 16px;
$borderRadius: 6px;
$imageBorderRadius: 12px;
$dropDownFilterLabelText: #8B8F93;
$dropDownBorder: 1px solid #383E43;
$optionLabelTextColor: #1A1C1D;
$optionLabelSelected: #F5F8FA;
